* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  max-height: 2.5em;
  -webkit-line-clamp: 2;
  overflow: hidden;
  line-height: 1.25;
  text-overflow: ellipsis;
}
.card-product {
  position: relative;
  cursor: pointer;
}
.close-btn {
position: absolute;
right: 5%;
top: 4%;
visibility: hidden;
}
.card-links {
/* display: none; */
position: absolute;
text-align: center;
left: 25%;
top: 35%;
font-size: 100%;
visibility: hidden;
}
.card-product:hover .card-links{
  display: flex;
  position: absolute;
  text-align: center;
  left: 25%;
  top: 35%;
  font-size: 130%;
  visibility: visible;

  }
  .card-product:hover .close-btn {
    visibility: visible;
  }
.bg-success {
  background-color: #0da487 !important;
}

.flag {
  width: 25px;
  text-align: center;
}
.navbar-brand {
  white-space: normal;
}
.promo {
  max-width: 50px;
}
.container-location {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px;
  width: 50px;
  height: 50px;
  border: .5px solid #eee9e9;
  border-radius: 8px;
}
.container-search {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 16px;
  width: 480px;
  height: 50px;
  border: .5px solid #eee9e9;
  border-radius: 8px 0px 0px 8px;

}
#mySearch {
  width: 448px;
  height: 24px;
  font-family: "Poppins", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  background-color: transparent;
  border: 0px;
  color: #a3a3a3;
  flex: none;
  order: 0;
  flex-grow: 1;
}
.list button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0;
  width: 50px;
  height: 50px;
  background: #ffa53b;
  border-radius: 0px 8px 8px 0px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.list button .vector-search {
  font-size: 20px;
  color: #e7f6f3;
  font-weight: lighter;
}
li {
  list-style: none;
}
.bg-secondary {
  background-color: #e7f6f3 !important;
}

#navbarScroll {
  flex-grow: 0;
}

.btn-success {
  background-color: #0da487 !important;
}
.text-success {
  color: #0da487 !important;
}
.bg-offer {
  background-color: #ffff;
 max-width: 80%;
 opacity: .5px;
 border-top-right-radius: 50px;
border-bottom-right-radius: 50px;
padding-left: 0;

}

.img-publi-3 {
  position: absolute;
  width: 150px;
  bottom: 0%;
  right: 0%;
  z-index: 0;
}
.aaa {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 180px;
  /* background-color: #0da487; */
  border: #ffa53b;
 border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  height: 4rem;
  z-index: 100;
}

/* ******************maedia query******************** */
@media (max-width: 600px) {
.navbar-dark .navbar-brand {
  max-width: 75%;
  font-size: 60% !important;
}
#form-search {
  display: none;
}
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
 /* #dropdownMenuButton2 .dropdown-toggle .dropdown-toggle::after  div button {
   display: none !important;
}
.dropdown-toggle::after > #dropdownMenuButton2 {
  display: none !important;
} */
.dropdown-menu {
  min-width: 20rem;
}
.bg-info {
  background-color: #f3f2ee !important;
}
.btn-warning {
  background-color: #ff835d;
}
